---
---
<!DOCTYPE html>
<html ng-app="gameListApp">
  <head>
    <meta charset='utf-8'>
    <title>Games</title>
    <base href="/">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.7/angular.min.js"></script>
    <script>
      var gameListApp = angular.module('gameListApp', []).config(function ($locationProvider) {
        $locationProvider.html5Mode(true);
      });

      gameListApp.controller('FilterController', function ($scope, $location) {
        // Filter to just games that match the given tag or all if no tag.
        $scope.shouldShow = function (tags) {
          var searchObj = $location.search();
          if (searchObj.tag) {
            return tags.indexOf(searchObj.tag) >= 0;
          }
          return true;
        }
      });
    </script>
  </head>

  <body ng-controller="FilterController">
    <h1>Games</h1>

    <h2>Filters</h2>
    <ul>
      <!-- All links require target="_self" to actually cause a page reload when using $location. -->
      <li><a href="/" target="_self">None</a></li>
      {% assign sorted_tags = (site.tags | sort:0) %}
      {% for tag in sorted_tags %}
      {% assign tag_first = (tag | first) %}
      <li><a href="/?tag={{ tag_first }}" target="_self">{{ tag_first }}</a></li>
      {% endfor %}
    </ul>

    <ul>
      {% for post in site.posts %}
      <li ng-cloak ng-show="shouldShow({{ post.tags | jsonify | escape }})">
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
