---
---
<!DOCTYPE html>
<html lang="en" ng-app="gameListApp">
  <head>
    <meta charset="utf-8">
    <title>Games</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ site.baseurl }}/site.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.7/angular.min.js"></script>
    <script>
      var gameListApp = angular.module('gameListApp', []).config(function ($locationProvider) {
        $locationProvider.html5Mode(true);
      });

      gameListApp.controller('FilterController', function ($scope, $location) {
        // Filter to just games that match the given tag or all if no tag.
        $scope.shouldShow = function (tags) {
          var searchObj = $location.search();
          if (searchObj.tag) {
            return tags.indexOf(searchObj.tag) >= 0;
          }
          return true;
        };

        $scope.getFilterTag = function () {
          var searchObj = $location.search();
          return searchObj.tag;
        }
      });
    </script>
  </head>

  <body ng-controller="FilterController">
    {% include header.html %}

    <nav class="block">
      <ul>
        {% assign sorted_games = (site.games | sort:'title') %}
        {% for game in sorted_games %}
        {% include block.html %}
        {% endfor %}
      </ul>
    </nav>

    {% include footer.html %}
  </body>
</html>
