body {
    font-family: HelveticaNeue, Helvetica, sans-serif;
    font-weight: 400;
    text-rendering: optimizelegibility;
    font-size: 26px;
    color: grey;
    margin: 0px;
    padding: 20px;

}
header {
}
footer {
    text-align: center;
    color: lightgray;
}
a {
    color: #3AA0FF;
    text-decoration: none;
}
hr {
    border: 0px;
    border-bottom: 2px solid #135A93;
}
li {
    margin-bottom: 20px;
}
p {
    margin: 0px 0px 20px 0px;
    line-height: 40px;
    letter-spacing: 0.4px;
}

header h1 {
    position: relative;
    font-family: HelveticaNeue-UltraLight, Helvetica-Light, HelveticaNeue, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 110px;
    border-bottom: 2px solid #135A93;
    margin: -20px -50px 20px -40px;
    white-space: nowrap;
    overflow: hidden;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -webkit-transform-origin: left bottom;
    -moz-transform-origin: left bottom;}
h1 small {
    font-weight: 100;
    color: lightgray;
}

article {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
}
article h1 {
    margin: 0px 0px 30px 0px;
    width: 100%;
    font-weight: 100;
    font-size: 68px;
    color: #555555;
}

section {
    margin: 0px 30px 0px 0px;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}
section h1 {
    margin: 0px 0px 30px 0px;
    font-size: 41px;
    font-weight: 200;
}
section h2 {
    margin: 0px 0px 20px 0px;
    font-weight: 200;
}
section h3 {
    margin: 0px 0px 20px 0px;
    font-weight: 200;
}

ul.tab-list {
}
ul.tab-list li {
    display: inline-block;
}
ul.tab-list li:before {
    content: "| ";
}
ul.tab-list li:first-child:before {
    content: "";
}

ul.block-l {
    margin: 0px;
    padding-right: 20px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
}
ul.block-l li {
    display: block;
    vertical-align: top;  /* Needed with inline-block otherwise they're wherever vertically... */
    position: relative;  /* Needed so child summary elements are positioned relative to this parent. */
    width: 200px;
    height: 200px;
    border: 2px solid #135A93;
    padding: 10px;
    margin: 0px 20px 20px 0px;
    -webkit-transition: background 0.25s;
    -moz-transition: background 0.25s;
}
ul.block-l li:hover {
    background: #eeeeee;
}
ul.block-l summary {
    color: grey;
    position: absolute;
    text-align: right;
    bottom: 0px;
    right: 0px;
    padding: 10px;
}
