<footer class="page-footer">
  <div class="container">
    <ul class="footer-links breadcrumb text-muted">
      <li>Help us <a href="https://github.com/selassid/games/">add more games</a>!</li>
      <li>© {{ 'now' | date:'%Y' }} <a href="https://github.com/selassid/games/graphs/contributors">People</a> under <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA</a></li>
      <li>Hosted by <a href="https://pages.github.com/">GitHub Pages</a></li>
    </ul>
  </div>
</footer>
