<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ site.baseurl }}/site.css">
  </head>

  <body>
    {% include header.html %}

    <article>
      {% if page.title %}
      <h1>
        {{ page.title }}
        {% if page.alttitles %}
        <small>AKA {{ page.alttitles | join:', ' }}</small>
        {% endif %}
      </h1>
      {% endif %}

      {% if page.players %}
      <section>
        <h1>Players</h1>
        <p>For {{ page.players }} players.</p>
      </section>
      {% endif %}

      {% if page.tools %}
      <section>
        <h1>Tools</h1>
        <ul>
          {% for tool in page.tools %}
          <li>{{ tool }}</li>
          {% endfor %}
        </ul>
      </section>
      {% endif %}

      <section>
        {{ content }}
      </section>

      {% if page.tags %}
      <section>
        <h1>Tags</h1>
        <ul class="tab-list">
          {% for tag in page.tags %}
          <li><a href="{{ site.baseurl }}/?tag={{ tag }}">{{ tag }}</a></li>
          {% endfor %}
        </ul>
      </section>
      {% endif %}
    </article>

    {% include footer.html %}
  </body>
</html>
